/* Rétt hlutfall youtube > iframe  (.gluggi) 

   óskuð breidd deilt í upphaflega breidd = n% 

   til að finna rétta hæð : n%  * upphafleg hæð 
*/

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* google kort */

@media screen and (min-width: 20rem) {
    .kort {
     width:100%;    
     height:15.75rem; /*252px;*/ 
   }
 }

@media screen and (min-width: 37.5rem) {
    .kort {
      height:19.7rem; /*315px; */
    }
 }

 @media screen and (min-width:48rem){
  .kort {
    height:28.2rem; /*451,2px;*/ 
  }
}
